@use '@angular/material' as mat;
@use './base/optimize';
@use './base/typography';
@use './abstracts/functions';
@use './ui/angular-material';

:root {
  font-size: var(--font-size);
  color-scheme: light;

  --font-main: roboto, 'Helvetica Neue';
  --font-proxima: proximanovaexcn;
  --font-size: 16px;
  --color-bg: #f8f8fb;
  --color-text: #414859;
  --color-primary-rgb: functions.HexToRGB(#ba005c);

  &.theme-dark {
    --color-bg: #343233;
    --color-text: #efdab9;
  }

  ::selection {
    background-color: rgba(#ba005c, 0.7);
  }

  @include mat.theme((
    color: mat.$rose-palette,
    typography: Roboto,
    density: 0
  ));
}

body {
  overflow: hidden;
  font-family: var(--font-main), sans-serif;
  color: var(--color-text);
  background-color: var(--color-bg);
}

a {
  text-decoration: none;
  color: var(--mat-sys-primary);

  &:hover {
    text-decoration: underline;
  }
}
