@use 'abstracts/functions';
@use 'abstracts/variables';

h1 {
  font-size: functions.to-rem(18px);
  font-weight: 500;
  text-transform: capitalize;
  color: variables.$color-primary;
  user-select: none;
}
